<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./diffcomponent/diff.css" rel="stylesheet">
    <title></title>
</head>
<style>
    ul {
        list-style: none;
    }

    p {
        padding-left: 10px;
    }

    [v-cloak] {
        display: none;
    }

    .inputClass {
        border: 1px solid #3e96f0;
    }

    .formControl {
        border: 1px solid #3e3e;
    }

    .test {
        font-size: 12px;
        width: 50px;
    }

    .info {
        position: relative;
    }

    .zan+.info::before {
        position: absolute;
        content: '';
        width: 100%;
        border: 1px solid #000;
    }
</style>

<body>
    <div id="app" v-cloak>
        <!-- <app-api-com></app-api-com>
        <shopping-cart v-if="showShopping" inline-template>
            <p>aaa</p>
        </shopping-cart> -->
        <template>
            <!-- <h1 v-bind:title="title">{{ title }}</h1> -->
            <div class="test">
                <div class="zan">点赞</div>
                <div class="info">评论</div>
            </div>
            <ul>
                <li v-for="(item,index) in list" :key="index">
                    <h3 @click="handleClickFn">{{item.title}}</h3>
                    <component :is="item.component" />
                    <div v-for="(child,childIndex) in item.children" :key="childIndex">
                        <h5>{{ child.name }}</h5>
                        <component :is="item.component" />
                    </div>
                </li>
                <!--                <li>-->
                <!--                    <h3>全局组件</h3>-->
                <!--                    <div>-->
                <!--                        <vue-component></vue-component>-->
                <!--                    </div>-->
                <!--                </li>-->
            </ul>
            <!-- <slot-component>
            <template #header>
                <h2>头部标题</h2>
            </template>
            <template v-slot:main>
                <p>主要内容</p>
            </template>
            <template #default="slotProps">
                {{ slotProps.user.name }}
            </template>
        </slot-component> -->
        </template>
    </div>
</body>
<script src="src2/assets/vue2.js"></script>
<script src="src2/store/vuex.js"></script>
<script type="text/x-template" id="vueTemplate">
    <div>
        <p @click="handleClick">{{title}}可点击</p>
        <p>${msg}</p>
    </div>
</script>
<!-- modules -->
<script src="src2/store/modules/app.js"></script>
<script src="src2/store/modules/nameSpace.js"></script>
<!-- vuex -->
<script src="src2/store/index.js"></script>
<script type="module">
    import ShoppingCart from './src2/views/ShoppingCart.js'
    import InstanceComponent from "./src2/views/InstanceComponent.js";
    import TemplateComponent from "./src2/views/TemplateComponent.js";
    import EventComponent from "./src2/views/EventComponent.js";
    import PropComponent from "./src2/views/PropComponent.js";
    import SlotComponent from './src2/views/SlotComponent.js'
    import MixinComponent from './src2/views/MixinComponent.js'
    import AppApiCom from './src3/views/AppApiCom.js'

    // 非兼容变更
    import DiffComponent from './diffcomponent/DiffComponent.js'
    // 全局自定义指令
    Vue.directive('focus', {
        bind:function(el){
            console.log('全局自定义指令')
            el.focus()
        }
    })
    Vue.directive('toFixed', (el,binding, vnode) => {
        console.log(el)
        console.log(binding)
        console.log(vnode)
    })
    // 全局过滤器
    var status = {
        0:'未启动',
        1: '成功',
        2: '失败'
    }
    Vue.filter('status' + 'Filter', function(value, source) {
         return status[value] || ''
    })
    // mixin
    Vue.mixin({
        custom: 'minx\'s 自定义选项',
        mounted(){
            console.log('全局mixin')
        }
    })
    // 全局组件
    Vue.component('VueComponent',{
        name: 'VueComponent',
        custonOptions: 'foo',
        delimiters: ['${', '}'],
        // comments:  true,
        data() {
            return{
                title: '全局组件',
                msg: 'delimiters分隔符'
            }
        },
        methods: {
            handleClick(){
                console.log(this.$listeners)
            }
        },
        template: '#vueTemplate'
    })
    const app = new Vue({
        el: "#app",
        store,
        components: {
            AppApiCom,
            InstanceComponent,
            TemplateComponent,
            EventComponent,
            PropComponent,
            SlotComponent,
            MixinComponent,
            ShoppingCart
        },
        propsData: {
            publicData: '公共数据'
        },
        data() {
            return {
                showShopping: false,
                title: "Vue2",
                url: '/profile',
                list: [
                    // {
                    //     title: "Vue实例",
                    //     component: InstanceComponent,
                    //     children: [
                    //         {
                    //             name: "数据与方法",
                    //         },
                    //     ],
                    // },
                    {
                        title: "模板语法",
                        component: TemplateComponent,
                        children: [
                            {
                                name: "属性",
                            },
                        ],
                    },
                    // {
                    //     title: "事件处理",
                    //     component: EventComponent,
                    //     children: [
                    //         {
                    //             name: "多时间处理器",
                    //         },
                    //     ],
                    // },
                    // {
                    //     title: "Prop",
                    //     component: PropComponent,
                    //     children: [
                    //         {
                    //             name: "非Prop的Attribute",
                    //         },
                    //     ],
                    // },
                    //  {
                    //     title: "可复用性&组合",
                    //     component: MixinComponent,
                    //     children: [
                    //         {
                    //             name: "自定义指令",
                    //         },
                    //     ],
                    // }
                //   {
                //     title: '非兼容变更',
                //     name: 'Diff',
                //     component: DiffComponent
                //   }
                ],
            };
        },
        methods: {
            handleClickFn(){
                console.log('111')
            }
        },
        // beforeCreate() {
        //     console.log(this);
        //     console.log("父组件beforeCreate");
        // },
        // created() {
        //     console.log(this);
        //     console.log("父组件created");
        // },
        // mounted() {
        //     console.log(this);
        //     console.log("父组件mounted");
        // },
        // beforeUpdate() {
        //     console.log(this);
        //     console.log("父组件beforeUpdate");
        // },
        // updated() {
        //     console.log(this);
        //     console.log("父组件updated");
        // },
        // beforeDestroy() {
        //     console.log(this);
        //     console.log("父组件beforeDestroy");
        // },
        // destroyed() {
        //     console.log(this);
        //     console.log("父组件destroyed");
        // },
        // template: `<div id="renderen">{{ title }}</div>`
    });
</script>

</html>