<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="./diffcomponent/diff.css" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    [v-cloak] {
      display: none;
    }

    li {
      list-style: none;
    }

    /* .main {
      margin-top: 40px;
    } */

    aside {
      width: 200px;
      float: left;
    }

    section {
      margin-left: 200px;
    }

    .component {
      margin: 10px;
    }

    template {
      display: inline-block;
    }

    .rootEle {
      border: 1px solid #333;
      margin: 10px 0;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <!-- <h2 v-bind:title="title">{{ title }}</h2> -->
    <div class="main">
      <aside>
        <ul>
          <li v-for="(item,index) in apiList" :key="index" @click="curComponent = item.name">
            <h4>{{ item.title }}</h4>
          </li>
        </ul>
      </aside>
      <section>
        <!-- <div>
          <app-component></app-component>
        </div> -->
        <template v-for="(item,index) in apiList" :key="index">
          <div v-if="item.component && curComponent === item.name">
            <h2>{{ item.title }}</h2>
            <Component :is="item.component"></Component>
          </div>
        </template>
      </section>
    </div>
  </div>
</body>
<script src="src3/assets/vue.global.prod.js"></script>
<script type="module">
  import { toLowerCasePlugin } from './src3/plugins/index.js'
  // views
  import AppConfigCom from './src3/views/AppConfigCom.js'
  import AppApiCom from './src3/views/AppApiCom.js'
  import AppOptionsCom from './src3/views/AppOptionsCom.js'
  import InstancePropertyCom from './src3/views/InstancePropertyCom.js'
  import InstanceOperatorCom from './src3/views/InstanceOperatorCom.js'
  import CompositeCom from "./src3/views/CompositeCom.js";


  import DiffComponent from './diffcomponent/DiffComponent.js'
  import SlotCom from "./src3/views/SlotCom.js";

  const App = {
    inject: ['userLogin'],
    components: {
      SlotCom,
      CompositeCom,
      AppConfigCom,
      AppApiCom,
      AppOptionsCom,
      InstanceOperatorCom
    },
    data() {
      return {
        _value: '_value',
        _unline: '_符号property',
        $test: '$符号property',
        user: '张三',
        ok: false,
        title: 'Vue3',
        curComponent: 'InstanceOperatorCom',
        apiList: [
          // {
          //   title: '插槽',
          //   name: 'Slot',
          //   component: SlotCom
          // },
          // {
          //   title: '组合式API',
          //   name: 'SetUp',
          //   component: CompositeCom
          // },
          //  {
          //  title: '应用配置',
          //  name: 'AppConfigCom',
          //  component: AppConfigCom
          //  },
          {
              title: '应用API',
              name: 'AppApiCom',
              component: AppApiCom
          },
          {
            title: '选项',
            name: 'AppOptionsCom',
            component: AppOptionsCom
          },
          {
             title: '实例property',
             name: 'InstancePropertyCom',
            component: InstancePropertyCom
          },
           {
           title: '实例方法',
           name: 'InstanceOperatorCom',
           component: InstanceOperatorCom
           },
          //  {
          //     title: '非兼容变更',
          //     name: 'Diff',
          //     component: DiffComponent
          //  }
        ]
      }
    }
    // template: `<div id="rendered">{{ title }} {{ userName }}</div>`
  }
  const app = Vue.createApp(App)
  /**
   * 应用配置
   */
  // console.log(app.config)
  // errorHandler
  // app.config.errorHandler = (err, vm, info) => {
  //   console.log(err)
  //   console.log(vm)
  //   console.log(info)
  // }
  // warnHandler
  // app.config.warnHandler = (err, vm, trace) => {
  //   console.log(err)
  //   console.log(vm)
  //   console.log(trace)
  // }
  // 全局Propperty
   app.config.globalProperties.$global = '全局property'
   app.config.globalProperties.globalTest = 'test'
  //自定义选项合并策略
  app.config.optionMergeStrategies.myOption = (parentVal, childVal) => {
     return parentVal || childVal
  }
   /**
   * 应用API
   */
    // 组件
    app.component('AppComponent', {
      data() {
        return {
        msg: '全局组件'
        }
      },
      mounted() {
        console.log(this.$options)
      },
      template: '<div>{{ msg }}</div>'
    })
    // 自定义指令
    app.directive('focus', {
      beforeMount(el) {
        el.focus()
      },
      mounted(el) {
        el.focus()
      },
      updated(el) {
        el.focus()
      }
    })
    app.directive('toFixed', (el,binding, vnode) => {
      if(binding.value) {
          binding.instance.inputValue = parseFloat(binding.instance.inputValue).toFixed('2')
      }
    })
    // provide
    app.provide('userLogin', 5)
    // mixin
    app.mixin({
      myOption: '这是 minx\'s 自定义选项',
    })
    // use
   app.use(toLowerCasePlugin)
    // mount
  const vm = app.mount('#app')
    // console.log(vm.$data)
    // console.log(vm._unline)
    //  console.log(vm._value)
    // console.log(vm.$test)
    // unmount
    // setTimeout(() => {
    //   app.unmount()
    // }, 1000)
    // version
    // console.log('vue当前版本：' + app.version)
</script>

</html>