

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
h3 span{
    color:red;
    vertical-align: middle;
}

html,body,#app,.main {
    height: 100%;
}
body{
    position: relative;
}
aside,section{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
aside {
    border-right: 1px solid #333;
}